<div>
  <p>
    <label>Username:</label>
    <input type="text" [(ngModel)]="username" />
    <button (click)="onClickSave()" [disabled]="disableButton() ">Save</button>
  </p>

  <p>
    <button (click)="onClickDisplay()" [disabled]="disableButton()">{{ buttonText }}</button>
  </p>

  <p *ngIf="showUsername">
    My username is {{ username }}
  </p>

  <div *ngIf="buttonClicks.length > 0">
    <div *ngFor="let log of buttonClicks; index as i">
      <span [ngStyle]="{ backgroundColor : getLogBackgroundColor(i) }" [ngClass]="(i+1) > 4 ? 'textColor2' : 'textColor1'">
        {{ log }}
      </span>
    </div>
  </div>
</div>
