// angular material theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { margin: 0; }

// side nav from angular material
.sidenav-container {
    height: 100%;
}
.sidenav {
    width: 200px;
    box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
  